
/*Colocamos una imagen de fondo al 'body' de nuestras páginas*/

body {
 background-color: #2194db;
}

/*Creamos la clase 'center' de forma que podamos centrar, por ejemplo, las tablas de nuestras páginas*/

.center{

	margin-left: auto;
	margin-right: auto;
}


/*Le damos formato a los encabezados H1*/
h1 {
  font-weight: bold;
  text-align: center;  
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #fff;
  
}

h2 {


}

/*Le damos formato a los pies de imagen*/
figcaption {

  text-align: center;
}


/*Le damos formato a las imágenes*/
img {
  
  display: block;
  width: 75px;
  height: 50px;

}
<style>
	body {
 		
  		background-color: #fff;	



body::before {
  		background-image: url("figuras/fondo.jpg");
  		content: "";
  		opacity: 0.9;
  		position: absolute;
  		top: 0;
  		bottom: 0;
  		right: 0;
  		left: 0;
  		z-index: -1;   
		}



